@use "./partials/variables" as*;
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

//GENERALI
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Nunito', sans-serif;
}

ul {
    list-style: none;
}



