@use "./partials/variables" as*;
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

//GENERALI
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Nunito', sans-serif;
}

ul {
    list-style: none;
}

img {
    max-width: 100%;
    min-width: 100%;
}

//CONTAINER
.container {
    max-width: 1200px;
    margin: 0 auto;
}

//CARDS
.card {
    background-color: $primary;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

